<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <h3>AntiQuity</h3>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="{% url "home" %}">Home</a>
                <a class="text-light text-decoration-none" href="{% url "my-listings" %}">My Listing</a>
                <a class="text-light text-decoration-none" href="{% url "post-product" %}">Add product</a>
            </div>
        </div>
    </div>
</header>